torch==2.13.0
transformers==4.35.2
datasets==5.0.1
accelerate==0.25.0
sentencepiece==0.2.2
pillow==12.3.0
faiss-cpu==1.15.0
git+https://github.com/OpenMatch/OpenMatch.git@8330192a607ecd66610bb82b6c8e408600def9a8
